<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treat.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @treat.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @treat.amount %>
</p>

<%= link_to 'Edit', edit_treat_path(@treat) %> |
<%= link_to 'Back', treats_path %>
